body {
    transition: 0.3s;
    background-color: rgb(34, 40, 49);
    color: rgb(238, 238, 238);
    padding-left: min(300px, 20%);
    padding-right: min(300px, 20%);
}

::selection {
    background:rgb(133, 118, 255);
}

a:hover {
    color:black;
    background-color: rgb(123, 201, 255);
}

a, a:visited {
    transition-duration: 300ms;
}

#a-other {
    text-decoration: underline;
    text-decoration-thickness:2px;
}

nav {
    padding-top:15px;
    padding-bottom:5px;
    width:100%;
    font-family: monospace;
    font-size: large;
    display:flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

#other-a {
    font-weight: bold;
}

#name {
    font-weight: bold;
    padding-right:40px;
}

#nav-content {
    padding-right:30px;
}

#hr-line {
    color: white;
    width:100%;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

#container-head {
    color:rgb(123, 201, 255);
    padding-top:10px;
    font-size: xx-large;
    font-family: monospace;
}

#container-content {
    font-family: Arial;
    font-size: large;
    line-height: 25px;
    padding-bottom:10px;
}

#more-a {
    text-decoration: underline;
}

footer {
    display:flex;
    padding-bottom: 50px;
    align-items: center;
}

.footer-p {
    display:flex;
    font-size: large;
    font-family: monospace;
    align-items: center;
}

#footer-a {
    font-weight: bold;
    
}

#footer-p-contents {
    padding-right: 10px;
}

@media only screen and (max-width: 800px) { /* tablet mode / phone mode */
    body {
        transition: 0.3s;
        padding-left: min(30px, 100%);
        padding-right: min(30px, 100%);
    }

    nav {
        font-size: 15px;
    }
}