body {
    transition: 0.3s;
    background-color: rgb(34, 40, 49);
    color: rgb(238, 238, 238);
    margin-left: min(300px, 20%);
    margin-right: min(300px, 20%);
}

::selection {
    color:white;
    background:rgb(133, 118, 255);
}

a, a:visited {
    transition-duration: 300ms;
}

a:hover {
    color:white;
    text-decoration: underline;
}

nav {
    padding-top:15px;
    padding-bottom:5px;
    width:100%;
    font-family: monospace;
    font-size: 17px;
    display: flex;
}

.page-links {
    display: flex;
    gap:30px;
    margin-left: auto;
}

a {
    color: white;
    text-decoration: none;
}

#name {
    font-weight: bold;
}

#hr-line {
    color:white;
    width:100%;
}

.container {
    margin-left:10px;
    margin-right:10px;
}

.landing {
    margin-top:30px;
    justify-content: center;
    align-items: center;
    margin-bottom:30vh;
}

#landing-p {
    margin-top: 17vh;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}

#landing-heading, #landing-typer {
    font-family: monospace;
    font-size:75px;
} 

#landing-content {
    font-family: Arial;
    font-size: 25px;
}

#landing-typer {
    color:rgb(123, 201, 255);
}

#about-head, #project-head, #contact-head {
    color:rgb(123, 201, 255);
    font-size: 30px;
    font-family: monospace;
    text-align: center;
}


#about-content, #project-details, #contact-content  {
    font-family: Arial;
    font-size: 20px;
    line-height: 25px;
}

.about-container {
    display: flex;
    gap:25px;
    margin-top:50px;
    margin-bottom:30vh;
}

#about-img {
    margin-top: 25px;
    border-radius: 25px;
    transition: 0.3s;
}

#about-img:hover {
    transform: scale(1.1);
    margin-right: 30px;
}

#container-activity {
    font-family: monospace;
    font-size: 20px;
    padding-bottom:10px;
    margin:0px;
}

.activity-details {
    display: flex;
    gap:10px;
}

#index-a {
    color:rgb(133, 118, 255);
}

.my-stack {
    margin-bottom: 30vh;
}

.my-stack p {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 25px;
}

.tech-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.work {
    margin-bottom:20vh;
}

.project-head {
    display: flex;
    font-family: monospace;
    gap:15px;
    align-items: center;
}

#project-details {
    font-size: large;
    margin-top:23px;
}

#project-name {
    font-size: x-large;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(123, 201, 255);
}

#project-content {
    margin: 0px;
    font-family: Arial;
    padding-bottom: 20px;
    font-size: large;
}

.contact {
    margin-bottom:20vh;
}

footer {
    display:flex;
    margin-bottom:10vh;
    align-items:center;
}

.footer-p {
    display:flex;
    font-size: 18px;
    font-family: monospace;
    align-items: center;
}

#footer-a {
    font-weight: bold;
}

#footer-p-contents {
    padding-right: 10px;
}

@media only screen and (max-width: 866px) { /* phone mode */
    body {
        transition: 0.3s;
        padding-left: min(30px, 100%);
        padding-right: min(30px, 100%);
    }
    
    nav {
        font-size: 15px;
    }

    #big-heading {
        font-size: 30px;
    }

    #container-head {
        font-size: 24px;
    }

    #container-content, #activity-content {
        font-size: 19px;
    }

    #container-activity, #activity-tech {
        font-size: 15px;
    }

    .footer-p {
        display:flex;
        justify-content: center;
        font-size:17px;

    }

    .activity-details {
        flex-direction: column;
        align-items: start;
    }

    #activity-tech {
        font-size: medium;
    }

    #container-activity:first-of-type + #container-activity {
        font-size: 14px;
    }
}

