body {
    background-color: rgb(28, 22, 120);
    color: white;
    padding-right: min(300px, 20%);
    padding-left: min(300px, 20%);
}

@media only screen and (max-width: x) { /* tablet mode */

}

@media only screen and (max-width: x) { /* phone mode */

}

::selection {
    background:rgb(133, 118, 255);
}

a:hover {
    color:black;
    background-color: rgb(123, 201, 255);
}

#work-a {
    font-weight: bold;
}

a, a:visited {
    transition-duration: 300ms;
}

nav {
    padding-top:15px;
    padding-bottom:5px;
    width:100%;
    font-family: monospace;
    font-size: large;
    display:flex;
}

#hr-line {
    color:white;
    width:100%;
}

a {
    color: white;
    text-decoration: none;
}

#a-work {
    text-decoration: underline;
    text-decoration-thickness:2px;
}

#name {
    font-weight: bold;
    padding-right:40px;
}

#nav-content {
    padding-right:30px;
}

#nav-line {
    color: white;
    width:100%;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

#project-h {
    color:rgb(123, 201, 255);
    padding-top:10px;
    font-size: xx-large;
    font-family: monospace;
}

footer {
    display:flex;
    padding-bottom: 50px;
    align-items: center;
}

.footer-p {
    display:flex;
    font-size: large;
    font-family: monospace;
    align-items: center;
}

#footer-a {
    font-weight: bold;
    
}

#footer-p-contents {
    padding-right: 10px;
}

.project-head {
    display: flex;
    font-size: large;
    align-items: center;
    font-family: monospace;
    font-size:x-large;
}

#project-details {
    padding-left:10px;
    padding-right: 10px;
}

#project-content {
    margin: 0px;
    font-family: Arial;
    padding-bottom: 20px;
    font-size: large;
}
